@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap");

* {
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar{
  display: none;
}

.heroSection {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  justify-content: space-between;
  align-items: center;
  /* background: url(/restaurant-app/public/background.svg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  padding: 0 15px;
}
.heroSection .container {
  display: flex;
  max-width: 1200px;
  min-width: 1200px;
}
.heroSection .container .banner:first-child {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
}
.heroSection .container .banner .largeBox {
  width: 100%;
}
.heroSection .container .banner .combined_boxes {
  display: flex;
  width: 100%;
}
.heroSection .container .banner .title {
  font-size: 8.5rem;
  font-weight: 200;
}
.heroSection .container .banner .textAndLogo {
  width: 50%;
}
.heroSection .container .banner .textWithSvg {
  position: relative;
}
.heroSection .container .banner .textWithSvg img {
  position: absolute;
  right: 0;
  top: 0;
}
.heroSection .container .banner:first-child .dishes_title {
  display: none;
}
.heroSection .container .banner:first-child .imageBox {
  width: 50%;
}
.heroSection .container .banner:last-child .imageBox {
  width: 100%;
}
.heroSection .container .banner .imageBox img {
  width: 300px;
  height: 385px;
}
.heroSection .container .banner:last-child .imageBox {
  text-align: end;
}
.heroSection .container .banner:last-child {
  flex: 1;
}
@media (max-width: 1280px) {
  .heroSection .container {
    width: 100%;
    min-width: fit-content;
    padding: 30px 20px;
  }
}
@media (max-width: 1072px) {
  .heroSection .container .banner .title {
    font-size: 6.5rem;
  }
  .heroSection .container .banner .imageBox img {
    width: 250px;
    height: 335px;
  }
}
@media (max-width: 880px) {
  .heroSection .container .banner .title {
    font-size: 6rem;
  }
  .heroSection .container .banner .imageBox img {
    width: 250px;
    height: 265px;
  }
}
@media (max-width: 830px) {
  .heroSection .container .banner:last-child .imageBox {
    height: 350px;
  }
  .heroSection .container .banner:last-child .imageBox img {
    display: none;
  }
  .heroSection .container .banner .combined_boxes {
    flex-direction: column-reverse;
  }
  .heroSection .container .banner .textAndLogo {
    width: 100%;
    text-align: end;
  }
  .heroSection .container .banner .textAndLogo .title,
  .heroSection .container .banner .textAndLogo .logo {
    margin-right: 60px;
  }
  .heroSection .container .banner:last-child .dishes_title {
    margin-top: 65px;
  }
  .heroSection .container .banner .imageBox img {
    width: 100%;
  }
}
@media (max-width: 720px) {
  .heroSection .container .banner .title {
    font-size: 4.5rem;
  }
}
@media (max-width: 520px) {
  .heroSection .container .banner:last-child .dishes_title {
    display: none;
  }
  .heroSection .container .banner:first-child .dishes_title {
    display: block;
  }
  .heroSection .container .banner:first-child {
    width: 100%;
  }
  .heroSection .container .banner:last-child {
    display: none;
  }
  .heroSection .container .banner .title {
    text-align: center;
  }
  .heroSection .container .banner .textAndLogo .title,
  .heroSection .container .banner .textAndLogo .logo {
    margin-right: 0;
  }
  .heroSection .container .banner .textWithSvg {
    width: fit-content;
    margin: 0 auto;
  }
  .heroSection .container .banner .textAndLogo {
    text-align: center;
  }
  .heroSection .container .banner:first-child .imageBox {
    width: 100%;
    text-align: center;
  }
  .heroSection .container .banner:first-child .imageBox img {
    width: 290px;
    height: 350px;
  }
}
@media(max-width: 650px){
  .heroSection{
    padding: 0;
  }
}
@media (max-width: 330px) {
  .heroSection .container .banner:first-child .imageBox img {
    width: 100%;
    height: auto;
  }
}

.about{
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items:center;
  background-color: #f9fbf2;
}

.about .container{
  max-width: 1500px;
  min-width: 1500px;
  display: flex;
}

.about .container .banner {
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about .container .banner .img {
  width:100%;
}

.heading{
  font-weight: 200;
  font-size: 4rem;
  color:#111;

}


.about .container .banner .mid{
  width:65%;
  font-size:18px;
  font-weight: 300;
  letter-spacing: 2px;
  word-spacing: 5px;
}

.about .container .banner .top p{
  font-size: 18px;
  font-weight: 400;
  color:#111;
  letter-spacing: 2px;
}

@media (max-width: 1520px) {
  .about {
    padding: 30px 20px;
  }
  .about .container {
    min-width: fit-content;
  }
}
@media (max-width: 1050px) {
  .about .container .banner:first-child {
    padding-right: 30px;
  }
  .about .container .banner .mid {
    width: 100%;
    margin: 20px 0;
  }
}
@media (max-width: 786px) {
  .about .container {
    flex-direction: column-reverse;
  }
  .about .container .banner img {
    width: 400px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .about .container .banner:first-child {
    padding: 0;
  }
}
@media (max-width: 530px) {
  .heading {
    font-size: 3rem;
  }
}
@media (max-width: 450px) {
  .about .container .banner img {
    width: 100%;
  }
}